# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
*.env

# Large model files
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# System files
.DS_Store
Thumbs.db

# Optional local folders
checkpoints/